GITHUB_TOKEN = github_pat_token 
DB_NAME=github_ingestion
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# Prettify JSON Extension (vscode): Hit F1 or "cmd+shift+p" and type install and then type Prettify JSON and hit enter.
